.chatHead{
    display: flex;
    height: 50px;
    padding: 5px;
    align-items: center;
    border: 1px solid green;
    .chatAvatar{
        flex: 1;

        width: 45px;
        height: 45px;
        border-color: blue;
        border-radius: 50%;
        background-color: rgb(60, 60, 245);
    }
    .chatName{
        flex: 3;
        padding-left: 5px;
        color: black;
    }
    .chatOptions{
        flex: 1;
        height: 100%;
        align-items: center;

        &:hover{
            background-color: rgba(1, 1, 180, 0.555);
        }
    }

    &:hover{
        background-color: rgba(0, 0, 255, 0.3);
    }
}